@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    color: #FFF;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container-user {
    background-color: #0f191d;
    border: 1px solid #44444475;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.user-img {
    width: 100px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.user {
    text-align: center;
    font-size: 12px;
}

.container-user-p {
    margin-top: 20px;
}

.sidebar {
    width: 250px;
    background-color: #0b1215;
    color: #fff;
    padding: 30px;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 1px;
}

.sidebar h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0 0; 
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background: #F1E6D2;
    font-weight: 600;
    color: #0b1215;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

.content section {
    margin-bottom: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-item {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.project-item:hover {
    transform: translateY(-10px);
}

/* Bagian Home / index */

.index {
    background: #0f191d;
    background-repeat: no-repeat;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(241, 241, 241);
    font-family: 'Outfit', sans-serif;
    min-height: 97vh;
}

.sub-title-home {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff5;
}

.container-home h1 {
    font-weight: 300;
    font-size: 45px;
    /* border-bottom: 1px solid rgba(237, 237, 237, 0.698); */
    padding-bottom: 10px;
}

.container-home p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.get {
    text-decoration: none;
    color: #dfdfdf;
    border: 1px solid #F1E6D2;
    padding: 15px 30px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.get:hover {
    background-color: #d7d7d7;
    color: #151313;
}

.footer {
    position: absolute;
    bottom: 0;
}





/* Bagian About */
.about {
    background-color: #19191B;
    font-family: 'Poppins', sans-serif;
    height: 97vh;
    color: #f4f4f4;
}

.container-about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: flex-start;
}

.container-information {
    display: flex;
    width: 95%;
    height: 93%;
    margin: auto;
    background-color: #232326;
    border: 1px solid #51515781; 
    border-radius: 5px;
    padding: 20px;
    box-shadow:  10px 15px 20px hsla(0, 0%, 0%, 0.25);
}

.sub-title-media {
    font-family: 'Outfit', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 70px;
}

.icon-media-social-about {
    width: 70%;
    margin: 30px 0;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.background-sos {
    width: 40px;
    height: 40px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #777777a3;
    cursor: pointer;
    background-color: #171515;
    border-radius: 5px;

    transition: all .5s ease-in-out;
    box-shadow: 8px 8px 16px hsla(0, 0%, 18%, 0.25);
}

.fa-linkedin-in, .ke-2 {
    margin: 0 20px;
}

.background-sos:hover {
    background-color: #ffffff;
    color: #171515;
    border-radius: 50%;
}

.card-user {
    background-color: #151313;
    width: 30%;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #515157db;
    box-shadow:  10px 10px 15px hsla(0, 0%, 0%, 0.25);
}

.title-about {
    width: 140px;
    margin: 10px 20px;
    font-size: 24px;
    border-bottom: 1px solid #46464a;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

.container-side-right {
    display: flex;
    flex-direction: column;
}

.sertifikat-container {
    text-align: center;
    box-shadow: 10px 10px 17px hsla(0, 0%, 0%, 0.25);
}

.sub-judul {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: left;
}

.sertifikat {
    width: 500px;
    display: block;
    padding: 20px;
}

.icon-bahasa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    transition: all .5s ease-in-out;
}

.background-icon {
    padding: 20px;
    background-color: #232326;
    border-radius: 10px;
    box-shadow: 8px 8px 16px hsla(0, 0%, 0%, 0.25);
}

#icon-1, #icon-2, #icon-3, #icon-4, #icon-5 {
    transition: all .2s ease-in-out;
}

.background-icon {
    transition: all .4s ease-in;
    /* transform: scale(1.2); */
    cursor: pointer;
}

.background-icon:hover {
    background-color: #19191B;
}

.satu:hover{
    color: #ff0000;
    transform: translateY(-4px);
    box-shadow: 10px 10px 16px hsla(0, 2%, 17%, 0.305);
}
.dua:hover {
    color: #2965f1;
    transform: translateY(-4px);
    box-shadow: 10px 10px 16px hsla(0, 2%, 17%, 0.305);
}
.tiga:hover {
    color: yellow;
    transform: translateY(-4px);
    box-shadow: 10px 10px 16px hsla(0, 2%, 17%, 0.305);
}
.empat:hover {
    color: #777BB3;
    transform: translateY(-4px);
    box-shadow: 10px 10px 16px hsla(0, 2%, 17%, 0.305);
}
.lima:hover {
    color: red;
    transform: translateY(-4px);
    box-shadow: 10px 10px 16px hsla(0, 2%, 17%, 0.305);
}


.btn-about {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}



/* Bagian Contact */

#Contact {
    padding: var(--higlight);
    margin-top: 70px;
}

.sub-contact-content {
    letter-spacing: 5px;
    color: var(--headline);

}

.container-flex-contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding: 20px;
}

.contact-right {
    margin: 0 200 0 0;
    justify-content: end;
}


/* STYLE INPUT */

textarea{
    transition: .9s ease;
}

textarea:active {
    box-shadow: 0 1px 70px #fff;
    transition: .9s ease;
}

a {
    text-decoration: none;
}

.contact-left {
    padding: 0 30px;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea {
    width: 500px;
    padding: .75rem 1.3rem;
    font-family: 'Roboto', sans-serif;
    background: var(--secondary);
    border: 1px solid #000000;
    border-radius: 3px;
    resize: none; 
    
    color: var(--headline);
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid var(--tertiary);
}

.btn-sumbit {
    width: 300px;
    padding: 24px 20px;
    background-color: var(--higlight);
    color: var(--buttonText);
    border: 1px solid #000000;
    border-radius: 3px;

    transition: all .6s ease;  
}

.btn-sumbit:hover{
    background: transparent;
    color: var(--headline);
    border: 1px solid #000000;

    transition: all .6s ease;
    letter-spacing: 3px;
}

.contact-icon:hover {
    letter-spacing: 2px;
    transition: all .5s ease;
}

.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
}

.contact {
    background-color: #F1E6D2;
}













@media (max-width: 768px) {
    body {
        font-size: 14px; /* Mengurangi ukuran font untuk layar lebih kecil */
    }

    .container {
        flex-direction: column; /* Mengubah orientasi kontainer utama menjadi kolom */
    }

    .sidebar {
        width: 100%; /* Sidebar mengambil lebar penuh di layar kecil */
        position: static; /* Sidebar statis di layar kecil untuk menghindari overlaping */
        background-color: #19191B;
        padding-bottom: 20px; /* Tambahkan padding bawah untuk ruang tambahan */
    }

    .sidebar h1 {
        font-size: 20px; /* Ukuran font judul sidebar yang lebih kecil */
        border-bottom: none; /* Hapus garis bawah pada judul sidebar */
        margin-bottom: 10px; /* Spasi bawah tambahan untuk judul */
    }

    .content {
        margin-left: 0; /* Hapus margin kiri pada konten utama */
    }

    .project-item {
        flex: 1 1 calc(50% - 20px); /* Ubah ukuran proyek item menjadi 50% lebar layar */
    }
}